*{
    box-sizing: border-box;
}
body{
    margin: 0px;  
    background-color:yellowgreen;
}  
#h12{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(217, 38, 38);
    font-weight: bold;
    text-align: center;

}
footer{
    background-color: blue;
    padding: 20px;
    text-align: center;
    display: block;
    clear: both;
}
.Likes{
    width: 40%;
    float: left;
    padding: 10px;
}
.donts{
    width: 40%;
    float: left;
    padding: 10px;
}
.interest{
    width: 20%;
    float: left;
    padding: 10px;
}
#p6{
    text-align: center;
}
#p5{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font
}
article{
    width: 20%;
    float: left;
    padding: 10px;
}
aside{
    width: 40%;
    float: left;
    padding: 10px;
}
.representative ul{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-weight: bold;
    list-style: none;
    
}
#h{
    font-style: italic;
    list-style-type: none;
}
.document{
   text-align: left; 
}
H1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar ul{
    background-color: rgb(32, 32, 35);
    list-style: none;
    overflow: hidden;
}
#h10{
    text-align: center;
    padding: 0px;
    margin:0px
}
header{
    background-color: blue;
    padding: 20px;
}
.navbar a{
    color: grey;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: blue;
}
.navbar a:active{
    background-color: purple;
}
.navbar li{
    float: left;
}
@media screen and (max-width:600px){
    aside, .interest, article{
        width: 100%;
    }
}
.dropdown button{
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(217, 38, 38);
}
.header h2{
    text-align: center;
}
.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .down{
    margin-left: 80%;
    display: none;
    background-color: blue;
    position: absolute;
    box-shadow: 2px 2px 5px; black
}
.dropdown:hover .down{
    display:block;    
}

